.container {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
}
div.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.projectsCont {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    flex: 1;
    background-color: rgba(137, 43, 226, 0.559);
    border-radius: 10px;
    overflow: hidden;
    color: whitesmoke;
    text-decoration: none;
    transition: transform .3s ease;
}
.cardImg {
    height: 150px;
    overflow: hidden;
}
.cardImg img{
    height: 100%;
    object-fit: cover;
}
.card p, .card h3, .card .stack {
    margin: 5px;
}
.card:hover{
    transform: scale(1.05);
}

@media (max-width: 750px){
    .projectsCont{
        flex-direction: column;
    }
}