@import '../../vars.css';
#heroComponent {
    display: flex;
    gap: 1rem;
}
.heroText{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    /* background-color: var(--color-secondary); */
    color: var(--color-text);
    width: 100%;
}
.heroText h2 {
    font-size: 4rem;
    color: var(--color-text);
    /* background-color: var(--color-secondary);
    border-radius: 10px;
    width: 100%; */
}
.intro{
    flex: 1;
    background-color: var(--color-secondary);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;   
    align-items: center; 
    justify-content: center;
    gap: 1rem;
}
.heroText p {
    margin: 0;
}
.links{
    flex: 1;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem
}

.links a{
    text-decoration: none;
    color: var(--color-tertiary); 
    font-weight: bold;
    /* margin-top: 10px; */
    display:inline-flex;
    align-items:center;
    font-size: 1.5rem; /* slightly larger */
}

.pfp{
    /* let the pfp element fill its column; the image inside will cover */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    overflow: hidden;
}
.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

/* columns inside the hero container */
.col1 {
    flex: 2 ;
    align-items: center;
    justify-content: center;
}
.col2 {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
#heroComponent i{
    margin-right: 1rem;
}
@media (max-width: 800px){
    .heroText h2 {
        font-size: 3rem;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 450px) {
    #heroComponent {
        flex-direction: column-reverse;
    }
    .col2 {
        height: 320px;
    }
    .heroText h2 {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    .heroText p {
        font-size: 1rem;
        /* text-align: center; */
    }
    #heroComponent img{
        /* object-fit: contain; */
        border-radius: 10px;
    }
}
