.container{
  min-height: 60vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color: whitesmoke;
  text-align:center;
}
.container a{ color: var(--color-tertiary); margin-top: 1rem; }
