.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-auto-flow: row dense;
}
.about img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    grid-row: span 6;
}
.title{
    font-size: 2rem;
    color: whitesmoke;
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 10px;
    height: max-content;
}
.content{
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 2rem;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-row: span 1;
}
.content1{
    grid-row: span 6;
}
.content2{
    grid-row: span 4;
}

.about ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}
.about li{
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
.skillsTitle{
    text-align: start;
}
.path{
    /* grid-column: span 2; */
    grid: 8 / 9
}
.about .image2{
    grid-row: span 2;
}
@media(max-width: 450px){
    .about {
        grid-template-columns: 1fr;
    }
    .about img{
        grid-row: span 1;
    }
    .title{
        grid-row: span 1;
    }
    .content{
        grid-row: span 1;
    }
}