.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section{
    display: flex;
    gap: 1rem;
}
.col1{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.col2{
    flex: 1;
}
.about img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.title{
    background-color: var(--color-primary);
    color: whitesmoke;
    border-radius: 10px;
    padding: 2rem;
}
.content{
    background-color: var(--color-bg);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.skillsContainer{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.skill{
    background-color: var(--color-secondary);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}