nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0 10%;
    height: 4rem;
    gap: 20px;
}
.navLinks {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 20px;
}
.title{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--color-tertiary);
}
nav a{
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
    transition: transform 0.3s ease;
}
nav a:hover {
    transform: scale(1.1);
    color: var(--color-tertiary);
}
nav a.active {
    font-weight: bold;
    border-bottom: 2px solid var(--color-tertiary);
}
i.menuBar {
    color: var(--color-text);
    display: none;
    cursor: pointer;
}

