nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 2rem;
    /* height: 4rem; */
    background-color: var(--color-primary);
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
}
.navLinks {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 2rem;
}
.title{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--color-tertiary);
}
nav a{
    text-decoration: none;
    color:whitesmoke;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 1.5rem;
}
nav a:hover {
    transform: scale(1.1);
    color: var(--color-fourth);
}
nav a.active {
    font-weight: bold;
    /* color: var(--color-tertiary); */
    border-bottom: 2px solid var(--color-fourth);
}

@media (max-width: 450px) {
    nav{
        padding: 2rem 1rem;
    }
    .navLinks{
        width: 100%;
        gap: 10px;
        justify-content: space-around;
    }
    nav a{
        font-size: 1rem;
    }
}