@import './vars.css'; 

.app {
    background-color: var(--color-bg);
    width: 100vw;
    min-height: 100vh;
    color: var(--color-text);
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
