
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}
.container {
  /* outline: 1px solid red; */
  min-width: 300px;
  max-width: 700px;
  /* margin: 20px auto; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
@media (max-width: 500px) {
  .container{
    flex-direction: column-reverse;
    width: 100vw;
    padding: 20px;
  }
  #contact{
    flex-direction: column; 
  }
}