
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}
:root{
  background-color: whitesmoke;
}
body{
  color: black;
  background-color: whitesmoke;
}
.container {
  /* outline: 1px solid red; global component wrapper */
  min-width: 300px;
  width: 90%;
  /* max-width: 800px; */
  margin:  auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  /* border: 1px solid gray; */
  border-radius: 10px;
}
@media (max-width: 750px) {
  .container{
    flex-direction: column-reverse;
    width: 100vw;
    padding: 20px;
    margin: 0 auto;
  }
  #contact{
    flex-direction: column; 
  }
}
@media (max-width: 450px){
  .container {
    flex-direction: column;
    padding: 0 20px;
  }
  .col2 {
    width: 100%;
  }
}