:root{
    /* colors */
    --color-text: rgb(35, 35, 35);
    --color-primary: #22311d;
    --color-secondary: #e2d9c7;
    --color-tertiary: #0b2447;
    --color-fourth: #006aff;
    --color-bg: #bfdffd;

    /* fonts */
    --font-robot: "Roboto"; 
}